.dice{
    border: 2px red solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.dot{
    width: 10px;
    height: 10px;
    border: 1px red solid;
    background-color: red;
    border-radius: 10px;
}

/* #d4 div{ */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* row-gap: 30px; */
/* } */
/* #d5 div{ */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* row-gap: 50px; */
/* } */
/* #d6 div{ */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* row-gap: 20px; */
/* } */

#d1, #d2, #d3{
    align-items: center;
}


#d4 div{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#d5{
    justify-content: space-evenly;
}

#d5 div{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#d5 div:nth-child(2){
    align-self: center;
}


#d6 div{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
}