li:nth-child(even){
    color: blue;
}
li:nth-child(odd):hover{
    animation-name: oddani;
    animation-duration: 1s;
    color: blue;
}
li:nth-child(even):hover{
    animation-name: evenani;
    animation-duration: 1s;
    color: black;
}
@keyframes oddani{
    from {color: black;}
    to {color: blue;}
}
@keyframes evenani{
    from {color: blue;}
    to {color: black;}
}